
#1.data type

In [ ]:
print(type(6))
print(type('6'))
print(type(6.5))
print(type(6/3))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'float'>

In [ ]:
True
False

bool([1, 2, 3]) #True
bool([]) #False
bool(0) #False
bool(3) #True
bool(None) #False

False

In [ ]:
int(3.5) #3
int('3') #3
float(3) #3.0
str(3.5) #'3.5'

'3.5'

In [ ]:
int('11', 2) # 2진법으로 표현된 11을 10진법으로 표현해라

3

#2.iterable

##2.1 str

In [ ]:
a='hello'
b='hello\''
c='hello"'
d='''
hello
world
'''
e='h\nello'
f='h\tello'
for i in [a,b,c,d,e,f]:
  print(i)

hello
hello'
hello"

hello
world

h
ello
h	ello

In [ ]:
a='hello'
b='world'
a*5 #hellohellohellohellohello
a+b #helloworld
a[1] #e
# str[start:stop:rule=1]
a[1:3] #el
a[::-1] #olleh

hellohellohellohellohello
helloworld
e
el
olleh

In [ ]:
a='hello'
print(len(a)) #5
print(a.count('l')) #2
print(a.find('o')) #4 #find함수는 없는 값은 -1 를 return함
print(a.index('o')) #4

b=['h','e','l','l','o']
''.join(b)   # ' ' 사이에 원하는 삽입값 선택

a.replace('e','') #원하는 문자 제거할 때 사용가능

5
2
4
4

'hllo'

In [ ]:
a='hello world'
a.strip('e')  #'hello world' #양 끝에 그 문자가 존재할 경우만 제거, 공백 제거 할때 용이
a.strip('h') #ello world'
b='life/is/too/short'
b.split('/')
#.upper(), .lower()

['life', 'is', 'too', 'short']

In [ ]:
my2="aAb1B2cC34oOp"
s = ''.join(i if i.isdigit() else ' ' for i in my2)
sum(int(i) for i in s.split())

In [ ]:
a='3'
b='-3.5'

a.isalpha() #알파벳인가?
b.isdigit() #정수인가? isdecimal과 차이는 isdigit은 거듭제곱 True
a.isnumeric() #실수인가?
a.isalnum() #알파벳+숫자인가?
a.isupper() #영어가 모두 대문자인가?
a.islower() #영어가 모두 소문자인가?
a.isdecimal()# int type 정수인가?

False

In [ ]:
number = ['123', '-1', '0.5', '½', '3²', '50%','3**2']

for i in number:
    print(i, i.isnumeric())

123 True
-1 False
0.5 False
½ True
3² True
50% False
3**2 False

In [ ]:
number = ['123', '-1', '0.5', '½', '3²', '50%','3**2']

for i in number:
    print(i, i.isdigit())

123 True
-1 False
0.5 False
½ False
3² True
50% False
3**2 False

In [ ]:
# translate string
hi = "Hello, World!"
table = str.maketrans('HWd', '123')
hi.translate(table)

'1ello, 2orl3!'

In [ ]:
hi = "Hello, World!"
hi.find('e')
hi.endswith('!')
hi.startswith('H')

True

##2.2 list

In [ ]:
#indexing은 str참조
a=[3,2,4,1]
del a[1] #index

#a.append('last insert')

a.sort() #오름차순
a.sort(reverse=True) #내림차순

b=['a','d','cd','c','C','A','CED']  # ['A', 'C', 'CED', 'a', 'c', 'cd', 'd'] 대문자 우선 알파벳순
b.sort()
b.reverse() # b[::-1]

a=['1','2','3']
a.insert(1,'1') #a=[1,1,2,3]
a.remove('1') # a=[1,2,3] 첫번째 나오는 1을 제거
b=a.pop() #b=3 a=[1,2] 마지막 요소 리턴하고 제거함

a.copy() #['1', '2']
#index(), extend(), count()

['1', '2']

In [ ]:
list('age ') #['a', 'g', 'e', ' '] str을 하나씩 쪼개는 형식으로 list

['a', 'g', 'e', ' ']

In [ ]:
lis1=['a','ab','abcd']
list1.sort(key=len) #['a', 'ab', 'abcd']  만약 key=len()을 하면 함수를 직접 지정하여, 각 요소의 길이를 기준으로 정렬하겠다는 의도
#len()은 함수를 즉시 호출함 / len()을 즉시 호출하면 단일 값(함수의 반환값)만 얻게 되므로 정렬 기준으로 사용할 수 없습

##2.3 tuple

In [ ]:
#index는 있지만 삭제는 불가능하다.
t1 = ()
t2 = (1,)
t3 = (1, 2, 3)
t4 = 1, 2, 3 # 다음의 특성과 unpacking을 이용해 변수를 용이하게 지정가능
a,b = 1, 2 # a=1 , b=2 로 지정됨
a,b = b, a #swap

##2.4 dictionary

In [ ]:
dic = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}
#고유한 key값을 가지고 key와 value가 매치되어있다. 순서(index)는 없다

dic['sex']='female'
del dic['sex']

dic.keys() #['name','phone','birth'] #순서대로 나오는 것은 아님
dic.values() #['pey','010-9999-1234','1118']
dic.items() #[('name','pey'),('phone','010-9999-1234'),('birth','1118')]
dic.get('sex') #None key값을 직접 넣는 것과 차이는 error 발생여부 dic.get(key,error=None) error의 기본값은 None이지만 원하는 리턴을 지정해줄수 있음
dic.pop('name')
dic.copy() #{'phone': '010-9999-1234', 'birth': '1118'}

#dic.clear()

list(dic) #['phone', 'birth'] key값으로 이루어진 list return

{'phone': '010-9999-1234', 'birth': '1118'}

In [ ]:
li = ['a', 'b', 'c', 'd', 'e']
dic.fromkeys(li) #list dictionary 반복문에서 중요

dic.pop('name','default') #'pey' key값의 value값을 return하고 지운다. 'default' 자리에 키가 없을 때 return할 값을 지정가능
dic.popitem('name') #('name','pey') tuple형태로 key와 value값을 return하고 지운다.

##2.5 set

In [ ]:
#중복을 허용하지 않으며 순서가 없다
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

s1&s2
s1.intersection(s2)

s1|s2
s1.union(s2)

s1-s2
s1.difference(s2)

s1.add(10)
s1.update([10,11,12]) #안에 인수로 list, tuple, set값을 받을 수 있음

s1.remove(1)

In [ ]:
#형변환 가능
a=[1,2,3]
b=tuple(a)
c=set(a)
a=list(b)

(1, 2, 3)
{1, 2, 3}

##2.6 list comprehension

In [ ]:
def method(a):
  return a

a=[method(i) for i in range(100) if i % 2==0]

b=[i*j for i in [1,2,3,4] for j in [1,2]]  #[1,2,2,4,3,6,4,8] # for i 문 아래 for j 문 형식

arr = [[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9],
       [10, 11, 12],
      ]
c=[[n ** 2 for n in row] for row in arr]

d = []
for i in range(10):
  if i%3 == 1:
    d.append(i)
  elif i%3 == 2:
    d.append(i*10)
  else:
    d.append(i*100)

d = [i if i%3 == 1 else i*10 if i%3 == 2 else i*100 for i in range(10)]

[[1, 4, 9], [16, 25, 36], [49, 64, 81], [100, 121, 144]]

In [ ]:
#set dic tuple 확장
set1 = {n ** 2 for n in range(10)}

from string import ascii_lowercase as LOWERS

dic1 = {c: n for c, n in zip(LOWERS, range(1, 27))}

tuple1 = tuple(n for n in range(1, 10))

tuple2 = (n for n in range(1, 10)) #이렇게 하면 generator가 생성된다. ?generator

#3.condition and loop

##3.1 condition and loop expression

In [ ]:
iterable=['world','airport']
if True: # 조건문이 True일때 # and or not 논리곱 논리합 논리부정
  print('hello')

if 'hello' in iterable: # a in b b안에 a값이 있으면 true
  pass
elif 'airport' not in iterable:
  pass
else:
  print('world')

if not False:
  print('bye')

for i in iterable: #for문도 continue 사용 가능
  print(i)
  break

n=0
while [False]: # True일동안 반복 / list안에 값이 있으므로 True
  n+=1
  if n >=7:
    print('infinity loop')
    break # break로 loop 종료
  if n %2==0:
    continue # 뒤의 코드를 실행하지 않고 while문 처음으로 돌아감 짝수 일경우 print 하지않음
  print(n)

n=7
while True: #True로 while loop를 무한히 돌리게 설정 후
  n-=1
  if not n : #n이 0이 되면 not n은 True이므로 loop 종료 , 데이터를 뽑아오는 과정에서 뽑아오는 값이 없을 때 None값을 받는다면 마찬가지의 논리로 구현가능
    break
  print(n)

hello
world
bye
world
1
3
5
infinity loop
6
5
4
3
2
1

##3.2 keyword and operator

In [ ]:
x,y = 1,2
x>y
x<y
x>=y
x<=y
x==y
x!=y

x*y
x**y #x의 y제곱
x/y
x//y
x%y

#재귀적 표현에 유용
x+=y
x**=y

True

In [ ]:
a=[]
b=()
c=[]

a is c # is a가 b와 같은 객체일 때 True
a is not b

<>:8: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:8: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-82-af895d85c49b>:8: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  None is not 1

True

In [ ]:
all([True , True , False])
any([True , True , False])

all([1,2,'t','3']) #iterable을 인수로 받는다.

False

##3.3 try except else finally

In [ ]:
try:
  3/0
except:
  print('sorry for error')

try:
  3/0
except ZeroDivisionError: # pass를 통해 error를 그냥 회피할 수 있다.
  print('sorry for error')

try:
  3/0
except ZeroDivisionError as e: #오류변수를 통해서 오류메시지 출력
  print('sorry for error')
  print(e)

try:
    a = [1,2]
    print(a[3]) #인덱싱 오류가 먼저 발생했으므로 ZeroDivisionError는 발생하지 않음
    4/0
except (ZeroDivisionError, IndexError) as e:
    print(e)

sorry for error
sorry for error
sorry for error
division by zero
list index out of range

In [ ]:
try:
    age=int(input('나이를 입력하세요: '))
except:
    print('입력이 정확하지 않습니다.')
else: #오류가 발생하지 않았을때 실행
    if age <= 18:
        print('미성년자는 출입금지입니다.')
    else:
        print('환영합니다.')
finally: #error 발생 여부에 관계없이 항상 실행
  print('다음 손님을 위해 자리를 이동해주세요')

나이를 입력하세요: 5
미성년자는 출입금지입니다.
다음 손님을 위해 자리를 이동해주세요

In [ ]:
#error 고의적 발생시키기
class Bird:
    def fly(self):
        raise NotImplementedError # raise method는 뒤의 error를 발생시킨다
#NotImplementedError는 파이썬에 이미 정의되어 있는 오류로, 꼭 작성해야 하는 부분이 구현되지 않았을 경우 일부러 오류를 발생시키기 위해 사용한다.

class Eagle(Bird):
    pass

eagle = Eagle()
eagle.fly()

NotImplementedError:

In [ ]:
class Eagle(Bird):
    def fly(self):
        print("very fast")

eagle = Eagle()
eagle.fly()
# 자식 class가 fly함수를 반드시 overriding하도록 강제시키고 싶어서 부모 class에 강제로 error를 발생시킨다.

very fast

In [ ]:
#예외만들기
class MyError(Exception):
  def __str__(self):
    return 'warning error'

def say_nick(nick):
    if nick == '바보':
        raise MyError()
    print(nick)

try:
    say_nick("천사")
    say_nick("바보")
except MyError as e:
    print(e)

천사
warning error

#4.method



```
# 코드로 형식 지정됨
```

##4.1 function expression

파이썬의 함수는 'function' 클래스의 객체

In [ ]:
def method_name(a,b=3,c='사랑'): #c=사랑 default , parameter를 초기회하는 개념, 단 초기화하는 parameter는 항상 끝에 위치해야함 중간 값을 생략하면 어떤 parameter인지 식별힘듬
  print(f'{a}는 {b}를 {c}해')
  return (a,b,c) #return은 function를 종료시키고 즉시 빠져나간다.

method_name(1,2) #끝에서부터 초기화 parameter를 채우는건 상관없지만 실사용에 제약이 있음 항상 끝에 있는게 먼저 생략 취급

#인수, return이 없어도 된다.
#매개변수(parameter)는 함수에 입력으로 전달된 값을 받는 변수, 인수(argument)는 함수를 호출할 때 전달하는 입력값

1는 2를 사랑해

(1, 2, '사랑')

In [ ]:
def printx(i):
  print(i)
  return

def printy(i):
  return print(i)

printx(1)
printy(2)

global x
#전역변수, 지역변수
#함수 내에서 전역변수를 사용하거나 전역변수에 값을 할당할 때 사

1
2

In [ ]:
def add_mul(choice, *args): # *매개변수 표현으로 인수를 여러개 받아올 수 있다.
  if choice == "add":   # 매개변수 choice에 "add"를 입력받았을 때
    result = 0
    for i in args:
      result = result + i
  elif choice == "mul":   # 매개변수 choice에 "mul"을 입력받았을 때
    result = 1
    for i in args:
      result = result * i
  return result

In [ ]:
#키워드 매개변수
def kwargs(**kwargs):
  return kwargs

print(kwargs(name='foo', age=3)) #{'age': 3, 'name': 'foo'}
print(type(kwargs(name='foo', age=3))) #dictionary type

{'name': 'foo', 'age': 3}
<class 'dict'>

In [ ]:
#재귀호출
def factorial(n):
    if n == 1:      # n이 1일 때
        return 1    # 1을 반환하고 재귀호출을 끝냄
    return n * factorial(n - 1)    # n과 factorial 함수에 n - 1을 넣어서 반환된 값을 곱함

print(factorial(5))

120

##4.2 method in Python

In [ ]:
dir([]) #객체가 지닌 변수와 method를 보여줌 # class안에 정의된 function을 method라 부름

#enumerate() / list, tuple, string을 인수로 받아서 각 인덱스와 성분을 enumerate 객체로 return /
for i, name in enumerate(['body', 'foo', 'bar']):
  print(i, name)
print(list(enumerate([4,5,6,7])))

# set에는 순서가 없지만 enumerte 했을때는 [(0, 'd'), (1, 'c'), (2, 'b'), (3, 'a')] 이렇게 계속 나옴
list(enumerate(set(['a','b','a','a','b','c','d'])))

#isinstance(object,class) / 인수로 객체, 클래스를 입력으로 받아 객체가 그 클래스의 인스턴스인지를 판단하여 참이면 True, 거짓이면 False를 return
class test():
  pass

obj=test()
isinstance(obj, test)
isinstance(object, test) #object?

#map(function, iterable)
def two_times(x):
  return x*2

print(list(map(two_times, [1, 2, 3, 4]))) #[2,4,6,8]

len([1,2,3,4]) #iterable을 인수로 받는다.
max([1,2,3,4])
min([1,2,3,4])
sum([1,2,3,4])
pow(2,5) #2의 5제곱 32

#range([start,] stop [,step]) / for문없이 작동하지 않음 stop값 제외 , start의 default는 0
range(1,20,2)
range(4)[2:]

round(5.678, 2) #5.68 소수점 2자리까지 반올림

#Zip(*iterable) 동일한 개수로 이루어진 데이터들을 묶어서 return
list(zip([1, 2, 3], [4, 5, 6])) #[(1, 4), (2, 5), (3, 6)]

0 body
1 foo
2 bar
[(0, 4), (1, 5), (2, 6), (3, 7)]
[2, 4, 6, 8]

range(1, 20, 2)

In [ ]:
a=reversed([3,1,2])
list(a) # a 자체는 iterator ? iterable과의 차이 / sort와는 달리 list화 해주어야함
next(reversed([3,1,2]))

# sorted(iterable, key=None, reverse=False) key 정렬기준 reverse 오름차순 default
sorted([3, 1, 2]) #[1, 2, 3] sort와의 차이점은 sorted는 새로운 list를 return해줌

nested_list=[[5,3],[7,2],[6,1]]

sorted_list1=sorted(nested_list) #[[5, 3], [6, 1], [7, 2]]
sorted_list2=sorted(nested_list, key=lambda x:x[1]) #[[6, 1], [7, 2], [5, 3]]

[[5, 3], [6, 1], [7, 2]]
[[6, 1], [7, 2], [5, 3]]

In [ ]:
#input([prompt]) 입력 인수로 문자열을 전달하면 그 문자열은 프롬프트 / []는 괄호 안의 내용을 생략할 수 있다는 관례 표기법
a = input("Enter: ")
print(a)
print(type(a)) # str 취급

#print(want [,end="\n"]) end=' ' 기본값은 줄바꿈
print("life" "is" "too short") #lifeistooshort
print("life", "is", "too short") #life is too short
for i in ["life", "is", "too short"]:
  print(f'{i}',end='++') #life++is++too short++

print(*term) # term이 iterable일 때 unpacking하여 이터러블 객체의 요소들을 여러 변수에 각각 할당하는 것을 의미, term 안의 요소들을 개별적으로 보여줌

Enter: 3
3
<class 'str'>
lifeistoo short
life is too short
life++is++too short++

In [ ]:
#lambda 매개변수 : 매개변수를 이용한 표현식
a=lambda x,y,z: x*y**z
a(1,2,3)

b=lambda : print('hello') #매개변수가 없는 형태

for i in range(10):
  c=lambda : i
  print(c())
# 뒤 조건식에 x=~ 형태로 x를 새로 정의할 수는 없음 , 표현식이 들어가야함 그냥 =가 안되는것 같기도 이해함
#filter(function, iterable) iterable의 각 요소로 function을 호출했을 때 return이 True인 요소만 필터링
list(filter(lambda x: x > 0, [1, -3, 2, 0, -5, 6]))

[1, 2, 6]

In [ ]:
# lambda 활용
df2=df1.assign(Test=lambda x : x['연령대코드']*100 )  #pandas에서 열 추가 Test라는 열의 값들을 생성하는 방식

lambda x : 3 # 3을 return하는 lambda / 결국 x= ~ 형태는 안되지만 어떤 특정값을 return시켜줄수는 있다.

In [ ]:
import os
os.path.join()
os.listdir()
os.path.isfile()
os.stat()
os.getcwd() # current working directory / !pwd
os.rename()
os.chdir() #cwd 이동
os.system('') #파이썬 실행프로세스에서 자식프로세스 cmd 생성해서 터미널 명령어 실행, exe파일 실행가능
os.path.basename()# 경로에서 파일명만 분리
os.path.splitext()# 파일명에서 확장자 떼어냄
os.path.isdir()# 폴더가 존재한다면

In [ ]:
from glob import glob
# 현재 디렉토리에서 .txt 파일 모두 찾기
txt_files = glob('*.txt')

# 찾은 파일들을 삭제하기
for file in txt_files:
    os.remove(file)

In [ ]:
#경로문자열을 더할때 사용함
dataPath='/content/drive/MyDrive/'  #data의 기본이 되는 경로
csvPath1=os.path.join(dataPath, 'seoul.csv')

#5 method list

In [ ]:
#하나씩 추가

In [ ]:
#next(iterable,default)
#iterator 공부?
a=[i for i in range(4)]
for _ in range(10):
  print(next(a,10))

TypeError: 'list' object is not an iterator

In [ ]:
import time

start=time.time()
end=time.time()
print(end-start) # 코드 연산시간 측정

1723022015.9567153

In [ ]:
import sys
#terminal에서 구동시킬 때 프로그램 뒤에 공백으로 인수를 구분하여 받는 module
sys.argv[0]
sys.argv[1]

math.ceil()- 올림

math.floor()- 내림

math.fabs()- 절댓값

math.factorial()- !

math.sqrt()- 제곱근

math.dist()- 유클리드 거리

math.gcd()- 최대공약수

math.lcm()- 최소공배수

math.comb()- 조합 계산

math.pi / math.e / math.inf / math.nan

In [ ]:
import random as rd

rd.seed() #랜덤 시드 설정, 생략 시 시스템 시간 적용, 시드가 같으면 같은 순서로 난수가 발생

rd.random()# 0<=x<=1사이의 실수값 랜덤하게 return

#정수생성
rd.randrange(1,11,2) #1,3,5,7,9 중 1개 # randrange(strat=0,end,step=1)
rd.randint(2,5) # 2<=x<=5 를 만족하는 랜덤 정수값

li=[1,2,3,4,5]

rd.chocie(li) # li에서 하나의 값 랜덤하게 return
rd.choices(li, k=2, weights=[5,1,1,1,1]) # 중복을 허락하고 li에서 k 개수만큼 랜덤하게 뽑음 / weights 이용가능
rd.sample(li,k=2) #중복을 허락하지 않고 li에서 k 개수만큼 랜덤하게 뽑기

rd.shuffle() #li를 랜덤한 순서로 섞기

In [ ]:
from collections import Counter
#Counter() 주어진 시퀀스의 요소를 key로 하고 해당 요소의 개수를 값으로 하는 Counter객체 생성
#시퀀스 {'a':2,'b':1} / 'aab' / (a=5,b=1)/ ['a','a','b']
counter1=Counter({"a":1,"b":3,"c":4})
counter2=Counter({"a":1,"b":2})

counter1 + counter2 #Counter({'b': 5, 'c': 4, 'a': 2})
counter2 - counter1 #Counter() #0이 거나 음수인 값은 결과에 표시되지 않는다.
counter1 & counter2 #Counter({'a': 1, 'b': 2}) 교집합
counter1 | counter2 #Counter({'a': 1, 'c': 4, 'b': 3}) 합집합
counter1==counter2 #False / 같은 값끼리 비교 c는 없으면 0 취급
counter1>=counter2 #True


list(counter1.elements()) #['a', 'b', 'b', 'b', 'c', 'c', 'c', 'c']
counter1.total() #8
counter1.items() #dict_items([('a', 1), ('b', 3), ('c', 4)])
counter1.values() #dict_values([1, 3, 4])
counter1.keys() #dict_keys(['a', 'b', 'c'])
counter1.most_common(2) #[('c', 4),('b', 3),]
counter1.get('a') #1 / counter1['a']

['a', 'b', 'b', 'b', 'c', 'c', 'c', 'c']
dict_items([('a', 1), ('b', 3), ('c', 4)])
dict_values([1, 3, 4])
dict_keys(['a', 'b', 'c'])

In [ ]:
from itertools import repeat, count, cycle

repeat1=repeat(1) # 무한히 가능   # 1111111111...
repeat2=repeat('abc',5) #5번 초과한 반복을 수행하면 error발생 # abcabcabcabcabc

for _ in range(10):
  print(next(repeat1), end='')

#숫자 타입 증가하며 무한 반복
count1=count() #1,2,3,4,5,6,...
count2=count(10) #10,11,12....
count3=count(10,2) #10,12,14,...
count4=count(10.0,0.1)#10.0,10.1,10.2,...

for _ in range(10):
  print(next(count1), end='')

#iterable data 쪼개면서 무한반복
cycle1=cycle('abc') #a,b,c,a,b,c,...
cycle2=cycle([1,2,3]) #1,2,3,1,2,3,1,2,3,...

for _ in range(10):
  print(next(cycle1), end='')

1
1
1
1
1
1
1
1
1
1

In [ ]:
from itertools import product, permutations, combinations, combinations_with_replacement

iter1=product(['a','b','c','d'],[1,2]) #데카르트곱 #('a', 1)('a', 2)('b', 1)('b', 2)('c', 1)('c', 2)('d', 1)('d', 2)
iter2=product(['a','b','c','d'],repeat=2) #순서o 중복o
iter3=permutations(['a','b','c','d'],2) #순서o 중복x 순열
iter4=combinations(['a','b','c','d'],2) #순서x 중복x 조합
iter5=combinations_with_replacement(['a','b','c','d'],2) #순서x 중복o
#('a', 'a')('a', 'b')('a', 'c')('a', 'd')('b', 'b')('b', 'c')('b', 'd')('c', 'c')('c', 'd')('d', 'd')

for i in iter5:
  print(i, end='')

('a', 'a')('a', 'b')('a', 'c')('a', 'd')('b', 'b')('b', 'c')('b', 'd')('c', 'c')('c', 'd')('d', 'd')

In [ ]:
# file의 상태를 읽어와서 파일의 마지막 수정시간을 읽어와서 지역기준시간으로 변경
file_stat = os.stat(file_path)
modified_timestamp = file_stat.st_mtime
modified_date = time.strftime('%Y-%m-%d,%H:%M:%S', time.localtime(modified_timestamp))

In [ ]:
import shutil

diskLabel = 'c:/'
total, used, free = shutil.disk_usage(diskLabel) #파티션 용량 읽어오기
shutil.rmtree(folderpath) # 파일 존재여부와 상관없이 폴더 삭제

#6.formatting

In [ ]:
print("%10s" % "hi") #10개의 문자열 공간을 생성하고 오른쪽정렬
print("%-10s" % "hi") #왼쪽정렬
print("%10s" % 2) #d ,s 다 되는데 숫자는 문자열 취급이 가능해서 그런듯 원래 정수는 d
print("%0.4f" % 3.42134234) #소숫점 4째자리까지
print("%10.4f" % 3.42134234) #10개의 공간을 할당하고 소숫점 4째자리까지

        hi
hi
         2
3.4213
    3.4213

In [ ]:
print(f'{"hi":<10}') #왼쪽 정렬
print(f'{"hi":>10}') #오른쪽 정렬
print(f"{'hi':=^10}") # : ^ 사이에 기호를 넣으면 그 기호로 빈 공간을 채움 , ' "를 안밖 구분해서 써주어야함 / ^ 가운데정렬
print(f'{3.42134234:10.4f}')  # 소수점 4자리까지 표현하고 총 자리수를 10으로 맞춤

hi
        hi
====hi====
    3.4213

In [ ]:
name, emotion = '나', 99.324234
print(f'{"%10s"% name:<10}는 너를 {"%10.4f"%emotion}% 사랑해')

         나는 너를    99.3242% 사랑해

In [ ]:
print(f'{"abcde":^50}')
print(f'{"abcdefghijklnmop":<30}')

                      abcde
abcdefghijklnmop

In [ ]:
def gugudan(a,b):
  d=''
  for i in range(1,10):
    d+='\n'
    for j in range(a,b+1):
      c=j*i
      d+='%5s' %f'{j} X {i} =' + '%5s' %f'{c}  '
  return print(d)

gugudan(2,4)

#7.file

In [ ]:
fileName='/content/new_text.txt' # 경로 필요
f=open(fileName,'w') # 'r' read only / 'w' 리셋하고 새로쓰기, 덮어쓰기 / 'a' 뒤에 내용 추가하기
for i in range(1, 11):
    data = f"{i}번째 줄입니다.\n"
    f.write(data)
f.close()

#파일이 없을경우 'w', 'a' 는 새로운 파일을 생성함

In [ ]:
f=open(fileName, 'r')
while True:
  line=f.readline()
  if not line:
    break
  print(line,end='') # 문장 자체에 \n 이 있고 print자체 줄바꿈을 하므로 2번 줄바꿈을 방지하기 위해서 end 옵션 추가
f.close()
print(2)

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.
2

In [ ]:
f=open(fileName, 'r')
line=f.readlines()
f.close()
print(line) #list형태

f=open(fileName, 'r')
line=f.read()
f.close()
print(line) #str형태
type(line)

['1번째 줄입니다.\n', '2번째 줄입니다.\n', '3번째 줄입니다.\n', '4번째 줄입니다.\n', '5번째 줄입니다.\n', '6번째 줄입니다.\n', '7번째 줄입니다.\n', '8번째 줄입니다.\n', '9번째 줄입니다.\n', '10번째 줄입니다.\n']
1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.

str

In [ ]:
#file.close()가 필요없는 형태
with open(fileName, "w") as f:
    f.write("Life is too short\n you need python")

g=open(fileName, "r")
for line in g:
  print(line)

Life is too short

 you need python

In [ ]:
#f.write(str) / f.writelines(list)
data=["Life is too short\n you need python"]
with open(fileName, "w") as f:
    f.writelines(data)

g=open(fileName, "r")
for line in g:
  print(line)

Life is too short

 you need python

#8.class

##8.1 class definition

In [ ]:
#class활용할때 인스턴스를 따로안만들어주고 바로 MYerror()라고 클래스 불러와도 되나 객체 생성이 안되있는거아냐?
#self :class의 instance를 나타냄

#오버라이딩

In [ ]:
class Myclass(): # (상속을 해줄 부모class)
  field=""
  def method1(self):
    print(f'hi my name is {self.name}')

p1=Myclass() # p1은 객체이며 Myclass의 instance
p1.name="cocktail"
p1.method1()

class Myclass2 :
  def __init__(self,name):  #생성자 class의 instance를 생성할 때 호출되는 method / return 값은 없
    self.name=name
  def method1(self):
    print(f'hi my name is {self.name}')

p2=Myclass2("cocktail2")
p2.method1()

class student(Myclass2):
  def __init__(self,name,id):
    super().__init__(name) #super 부모 class의 method나 field에 접근할 수 있고 자식 class의 생성자나 method에서 사용 / ? 자식 class의 field에서는 못쓰는건가?
    self.id=id

  def method1(self):
    print(f'hi my id is {self.id}')

p3=student("cocktail","23")
p3.method1()

hi my name is cocktail
hi my name is cocktail2
hi my id is 23

##8.2 magic method
__init__, __str__, __main__, __name__ , __call__, __getattribute__

1.함수의 호출 '( )' 왜 '( )' -> 클래스(타입)의 객체에 '( )'를 붙여주면 해당 클래스에 정의된 매직 메소드인 __call__ 호출
<br>  
2.'.'을 찍으면 클래스의 __getattribute__ 가 호출됨
<br>  
3.__str__은 객체의 문자열 표현을 정의하는 메서드
<br>  
4.__name__ : 모듈이 직접 실행될 때 __name__이 "__main__"으로 설정
모듈이 다른 모듈에서 import 때는 모듈의 파일 이름(확장자 제외)

ex) Mypython.py 가 다른 파일에서 import 되면 __name__ = Mypython
"__main__" 은 파이썬 스크립트가 직접 실행될 때의 모듈 이름

In [ ]:
class User:
  def __init__(self):
    self.name={}
  def __gettiem__(self, item):
    return self.name[item]
  def __setitem__(self, key, value):
    self.name[key]=value

#dictionary로서 기능하게 만들어 줌

In [ ]:
if __name__ == "__main__": #구문을 통해 이 코드가 직접 실행될 때의 동작을 설정가능

#9.module

In [ ]:
!pip list #설치된 패키지 확인
pd.__version__ #패키지 버전 확인

## 9.1 datatime

In [ ]:
import datatime as dt # 수정해야함 밑에

now=datetime.datetime.now()
now.strftime('%Y-%m-%d %H:%M:%S') #2024-08-16 09:56:23

dats = datetime.datetime(2023, 11, 22, 10, 30, 0)
dats2= datetime.time(10,30,0)

new=datetime.datetime(2021,9,1,12,30,45)
tomorrow= now+ datetime.timedelta(days=1)

date_string= "2021-09-01 12:30:45" #문자열을 datetime으로 바꾸어줌
date=datetime.datetime.strptime(date_string,"%Y-%m-%d %H:%M:%S")

now.year
now.month
now.day
now.hour
now.minute
now.second #이건 속성임
now.time() #이건 메소드임
now.weekday()

now.replace(year=2023, day=3) #datetime 시간 변경
dt.datetime.weekday(now) #0~6 월~일
now.timestamp() #timestamp 객체로 바꿔줌 1970 1.1 0 UTC 부터 지난 시간을 숫자로 리턴해줌. 따라서 숫자 대소 비교 하기 용이

dt.timedelta(hours=2) # days=2, minutes=30 시간간격 / dt.timedelta(hours=2)*3 도 가능

dt.to_period() #'D': 일 단위 'M': 월 단위 'Y': 년 단위 'H': 시간 'Q': 분기 'W': 주 / 연속적인 시간데이터를 특정 주기만큼 묶어서 비교하기 용이
monthly = df_Jang.groupby(df_Jang['사용일시'].dt.to_period('M'))['승인금액'].sum()

#dt 지금까지 다 잘못사용한듯? 체크
#dataframe에 dt하고 쓰는건 .str처럼 시리즈에서 객체를 불러오기위해서임

In [ ]:
start_time = pd.to_datetime('07:00:00', format='%H:%M:%S').time()  #제대로 읽어오라고 format 지정 / .time()으로 읽어오는 것 그 이유는 dataframe이 아니기 때문
end_time = pd.to_datetime('20:00:00', format='%H:%M:%S').time() # time해줘야 하는 이유는 foramt에 연월정보 입력 안되있어도 기본으로 1900-01-01 세팅되기 때문
df['부정사용'] = ~df['사용시간'].between(start_time, end_time) #~ not 논리

In [ ]:
# str에 - 넣기
series = series.apply(lambda x: x[:4] + '-' + x[4:6] + '-' + x[6:])
series = series.str.replace(r'(\d{4})(\d{2})(\d{2})', r'\1-\2-\3')

## 9.2 numpy

In [ ]:
import numpy as np

np.array([1,2,3,4], dtype=int) # 기본적으로 정보를 최대한 손실하지 않는 방향으로 알아서 단일 datatype 정함
np.arange(start=0, stop=3,step=1) # 특정 범위 내의 숫자를 일정한 간격으로 생성하여 1차원 배열 return
np.random.rand(0,1) # 0과 1사이의 균등분포에서 난수 생성 axb array return
np.linspace(10,70,25) #10부터 70까지의 구간을 24개로 나눔
np.where(arr > 3, 'high', 'low') #arr가 3보다 크면 high 아니면 low
np.where(arr > 3, 'high', arr) #인수에 arr 그대로 넣으면 값 유지
np.sort(arr2d, axis=1) #axis=0 행, axis=1 열
np.argsort(np.array([5,3,7,1])) #sort해야할 index의 순서 return [3,2,4,1]

array([10. , 12.5, 15. , 17.5, 20. , 22.5, 25. , 27.5, 30. , 32.5, 35. ,
       37.5, 40. , 42.5, 45. , 47.5, 50. , 52.5, 55. , 57.5, 60. , 62.5,
       65. , 67.5, 70. ])

In [ ]:
a = np.array([[1, 2, 3],
              [2, 3, 4]])
b = np.array([[3, 4, 5],
              [1, 2, 3]])
a*b

array([[ 3,  8, 15],
       [ 2,  6, 12]])

In [ ]:
a = np.array([[1, 2, 3],
              [1, 2, 3],
              [2, 3, 4]])
b = np.array([[1, 2],
              [3, 4],
              [5, 6]])
np.dot(a, b)

array([[22, 28],
       [22, 28],
       [31, 40]])

In [ ]:
np.nan

nan

In [ ]:
np.random.rand(6,4)
np.random.randn(6,4) # 6x4 형태의 표준정규분포 난수 생성
np.random.normal(loc=0, scale=1, size=1000) #1000개의 data 평균 0 scale +-1 범위, 정규분포 따름 벗어나는 값 존재
np.random.uniform(low=-5, high=5, size=120) # 하한 상한 사이에서 균등하게 분포하는 120개의 데이터 생성

array([[-0.42947736, -1.09449464, -0.47657978,  0.83134883],
       [ 0.89420188, -0.06671027,  1.06933232, -1.07977495],
       [ 1.89450847,  0.72293203,  0.24842121,  0.70136198],
       [-1.03645698, -1.71361741,  0.35600069,  1.11119891],
       [ 1.3939846 , -0.10588154,  0.02657607, -0.6804339 ],
       [-1.19735667, -1.03823295,  0.1685701 ,  0.62205118]])

In [ ]:
np.set_printoptions(suppress=True) # 과학적인 표현법 억제하고 일반적인 소수점 표현

## 9.3 pandas

In [ ]:
import pandas as pd # 문자열을 str이 아니라 object라고 표

mylist = {1:5, 2:6, 3:7, 4:8}
li = [1,2,3,4]
index=['a','b','c','d']

pd.Series(li,index)
pd.DataFrame(li,columns=['number'],index=index)

a    1
b    2
c    3
d    4
dtype: int64

In [ ]:
df = pd.read_csv('http://bit.ly/ds-korean-idol',encoding='CP949')
#df2 = pd.read_excel(excelPath,header=2,usecols='B,D,G,J,N',index_col='A') #encoding 옵션 없음
# usecols 쓸 때 []도 되는데 칼럼명을 제대로 넣거나 인덱스를 넣어야함 ABC 안됨
# inplace=True
# 한글 encoding 문제 발생시 'CP949' , 'EUC-KR', 'utf-8'

In [ ]:
df.info()
df.shape
df.describe()
df.head(2)
df.tail(2)
df.rename(columns={'name':'이름'}).head(2)
df.sort_index(ascending=False) #index로 정렬
df.sort_values(by=['키','브랜드평판지수'],ascending=False) #value로 정렬 , Nan값은 맨 뒤로 보내고 정렬
df.loc[3:8, ['이름', '생년월일']] #loc는 8행이하 #loc는 이름을 지정하는 방식이라 이름 넣은것은 보여줌
df.iloc[1:5, [0, 2]] #iloc는 5행미만 # 기존의 인덱스 방식
df[ df['키'] > 180 ][['이름', '키']]
df.loc[ df['키'] > 180, ['이름', '키']]
df['소속사'].isin(['플레디스', 'SM'])
df.isnull().sum().sum() #결측치 개수 # sum(axis=0 or 1) sum방향 설정가능 mean(),mode(),median()
df.notnull()
df['키'].count() # 결측치는 세지 않음
df.set_index('키')
df.reset_index(drop=True).head(2) # 예전 인덱스 데이터를 지울 때는 drop=True
df.T # transpose

   index    이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수
0      0    지민  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260
1      1  지드래곤     빅뱅   YG  남자  1988-08-18  177.0   A   9916947

In [ ]:
pd.to_datetime(df['생년월일'],format='%Y-%m-%d')
pd.to_list(df['생년월일'])

In [ ]:
pd.pivot_table(df, index='소속사', columns='혈액형', values='키',aggfunc=np.mean) #values는 조회하고 싶은 값 , 추가계산함수
df.groupby('혈액형')['키'].mean()

<ipython-input-26-bdcbd13088d8>:1: FutureWarning: The provided callable <function mean at 0x7a501ed87d90> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  pd.pivot_table(df, index='소속사', columns='혈액형', values='키',aggfunc=np.mean) #values는 조회하고 싶은 값 , 추가계산함수

혈액형
A     172.966667
AB    176.500000
B     183.000000
O     177.875000
Name: 키, dtype: float64

In [ ]:
df.groupby(['혈액형', '성별'])['키'].value_counts() # 키 칼럼의 value마다 data의 갯수
df.groupby(['혈액형', '성별'])['키'].count() # 키 칼럼에 있는 data의 갯수

혈액형  성별
A    남자    5
     여자    1
AB   남자    2
B    남자    1
     여자    0
O    남자    4
Name: 키, dtype: int64

In [ ]:
df.drop(['그룹', '소속사'], axis=1)

In [ ]:
df.fillna() # method="ffill" / "bfill" 가장 가까운 이전값 또는 이후값으로 결측값 채움
df.dropna(axis=0, how='any') # axis=0 행 , axis=1 열 / 'any','all'

In [ ]:
df.drop_duplicates(keep='first') #중복된 행 제거 , keep 중복된 것 중 어떤 데이터를 남기고 나머지를 삭제할건지 'last'
# 중복된 값만 지우고 행을 지우지는 않음
df.drop_duplicates('그룹') # 행 전체를 제거함

In [ ]:
df['혈액형'].nunique() #NaN 값은 세지않음
df['혈액형'].unique()

In [ ]:
df.to_csv('name.csv',index=False) # 데이터 프레임의 인덱스를 csv에 포함해서 저장시킬것인지 여부

In [ ]:
#pandas one hot encoding boolean값으로 리턴함
df_encoded = pd.get_dummies(df, columns=['학과'])

In [ ]:
df.idxmax(axis=0, skipna=True) # 축 설정에 따라 최대 최소값 찾기
df.idxmin(axis=0, skipna=True)

In [ ]:
#map mapping 기능
df['season'] = df['season'].map({1: "Spring", 2: "Summer", 3: "Fall", 4: "Winter"})

In [ ]:
df.flatten # 다차원 배열을 1차원 배열로 바꿈 (25,)

In [ ]:
df.apply(np.cumsum) # apply 함수적용 / np.cumsum cumulative sum

In [ ]:
df2= df.copy()
pd.concat([df,df2],keys=['x','y'],axis=0,join='inner', ignore_index=True, sort=False)
# 기계적으로 붙여주는 역할, 행을 추가할 때 용이
# keys multi-index / join inner NaN값이 없는 행만 출력으로 남겨둠 default는 outer
# ignore_index 기존 인덱스 신경 안쓰고 붙인 다음 인덱스 리셋
# sort 결합하고 붙인 축을 기준으로 정렬할지 여부

In [ ]:
left = pd.DataFrame({'key': ['K0', 'K4', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})

right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                      'C': ['C0', 'C1', 'C2', 'C3'],
                      'D': ['D0', 'D1', 'D2', 'D3']})

pd.merge(left,right,on='key',how='left') # key를 기준으로 merge
# how on에서 참조하는 데이터프레임 기준선택 default는 inner , outer는 누락없이 붙임

In [ ]:
df.replace(',', '',regex=True) # replace 이용 ,제거 / regex 정규식 사용여부

In [ ]:
# 결측치 있는 인덱스 파악
df[df.isnull().any(axis=1)].index.to_list()

In [ ]:
# 이동평균
dates = pd.date_range(start='2024-01-01', periods=20, freq='D') # day 단위로 날짜 생성 freq='H', 'W', 'M' 시간 주 월 단위로 생성
data = np.random.randint(50, 100, size=(20))
dff = pd.DataFrame({'날짜': dates, '값': data})
dff['5일 평균값'] = dff['값'].rolling(5).mean()

In [ ]:
df[:, np.newaxis, 2] # df에서 인덱스2, 3번째 열 데이터를 가져오면 1차원 배열이므로 새로운 축을 추가하여 2차원 배열로 만들어줌

In [ ]:
# bin 만들기
df['나이대'] = pd.cut(df['나이'], bins=[10,20,30,40], labels=['10대','20대','30대'])
df['나이대'] = pd.cut(df['나이'],3) # 3개의 구간
# 고정된 구간의 크기로 나눔, 데이터의 min,max를 기반으로 구간 생성, bins를 안넣어주고 구간 개수 넣으면 균등한 길이로 나눔
df['나이대'] = pd.qcut(df['나이'],4,labels=['Q1','Q2','Q3','Q4'])
# 동일한 빈도를 가지도록 구간을 나눔 -> 데이터가 몰려있는 구간은 좁게 나눔 -> 모델이 비교적 모든연령대를 공평하게 학습

## 9.4 scikit learn

In [ ]:
x-np.arrange(100).reshape(-1,1) # -1은 배열의 길이와 남은 차원으로 부터 추정해서 뒤에 입력된 '1' 열 개수에 맞추어 행 개수

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x,y, test_size=0.2, shuffle=True, random_state=42, stratify=labeldata) # randomstate 모델평가 할 때 재현성을 위해서 randomseed와 유사
# stratify에 지정된 data의 비율을 최대한 균등하게 유지하여 나누어줌 # 분류문제에서 모델학습 시 class간 균등한 비율인 점은 중요함 데이터의 편향 지

In [ ]:
from sklearn.model_selection import KFold
kf=KFold(n_splits=5, shuffle=True, random_state=42)

for train_idx, test_idx in kf.split(X):
  X_train, X_test=X[train_idx], X[test_idx]
  y_train, y_test=y[train_idx], y[test_idx]

In [ ]:
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [ ]:
from sklearn.impute import SimpleImputer
imputer=SimpleImputer(strategy="mean") #mean , median , most_frequent
imputer.fit(train[['Age']])
train['Age']=imputer.transform(train[['Age']])

In [ ]:
from sklearn.impute import KNNImputer
imputer=KNNImputer(n_neighbors=5)
imputer.fit_transform(X) # n_neighbors=5 인접한 모델을 몇개 참조할 것인, 이웃수 metric='nan_eucllidean' 거리측정방

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
sclaer.fit(X_train)
x_train_scaled=scaler.transform(X_train)
x_train_scaled=scaler.fit_transform(X_train)

from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler().fit(X_train) #fit, transform 따로 아님 같이 / feature_range=(0,1) 인수지정가능
x_train_scaled=scaler.transform(X_train)

from sklearn.preprocessing import RobustScaler # 중앙값이 0 , IQR이 1이 되도록 변환 -> outlier 처리에 유용
scaler=RobustScaler().fit(X_train)
x_train_scaled=scaler.transform(X_train)

In [ ]:
from sklearn.preprocessing import OneHotEncoder
encoder=OneHotEncoder(drop='first',sparse_output=False) #drop을 통해 세개중 2개가 아닌걸 알면 알수있는 정보기 때문에 제거
#drop 할때 어떤 걸 drop하는게 좋으려나?
#spars_output True이면 sparse matrix / False이면 dense matrix 머신러닝에서는 주로 dense matrix 사용
#Dense Matrix: 대부분의 값이 0 아님 / 모든 요소를 저장 Sparse Matrix: 대부분이 0. 값과 행,열 위치정보만 저장

In [ ]:
from sklearn.pipeline import make_pipeline

elasticnet_pipeline=make_pipeline(StandardScaler(),ElasticNet(alpha=0.1, l1_ratio=0.2))
elasticnet_pred=elasticnet_pipeline.fit(x_train, y_train).predict(x_test) #transform이없는이유?

In [ ]:
from imblearn.over_sampling import SMOTE
smote=SMOTE(random_state=42)

In [ ]:
# model
from sklearn.linear_model import LinearRegression
model=LinearRegression(n_jobs=-1)# 사용할 cpu 개수 지정, -1이면 전부
pred=model.fit(x_train, y_train).predict(x_test)
model.coef_ , model.intercept_

from sklearn.preprocessing import PolynomialFeatures
poly_features=PolynomialFeatures(degree=2, include_bias=False)
poly_x=poly_features.fit_transform(x) # x x**2 x**3.. polynoimial항들을 추가 feature로 갖게됨
#polynomialfeatures는 거듭제곱항 뿐만아니라 a,b 칼럼이 있었다면 a^2b, ab^2 같은 교차항도 feature로 가짐
model=LinearRegression()
pred=model.fit(train_poly_x, y).predict(test_poly_x)

In [ ]:
# regulation
from sklearn.linear_model import Ridge, Lasso, ElasticNet
ridge=Ridge(alpha=0.1)
pred_ridge=ridge.fit(x_train, y_train).predict(x_test)
lasso=Lasso(alpha=0.1)
pred_lasso=lasso.fit(x_train, y_train).predict(x_test)
elastic=ElasticNet(alpha=0.1, l1_ratio=0.2)
pred_elastic=elastic.fit(x_train, y_train).predict(x_test)

In [ ]:
from sklearn.prerpocessing import LabelEncoder
le=LabelEncoder() #NaN값이 있으면 정상 동작하지 않음
le.fit(df['혈액형'])
df['혈액형']=le.transform(df['혈액형']) # unique한 value를 확인한 후 나름대로 숫자를 넣어줌
le.classes_ # unique한 value 확인
le.inverse_transform(df['혈액형']) # 숫자를 다시 문자로 변환

In [ ]:
from mpl_toolkits.mplot3d import Axes3D
from sklearn.decomposition import PCA

fig = plt.figure(figsize=(8, 6))
ax = Axes3D(fig, elev=-150, azim=110) #elev 고도 , azim z축을 중심으로 회전하는 정도
X_reduced = PCA(n_components=3).fit_transform(df_iris.drop('target', 1))
ax.scatter(X_reduced[:, 0], X_reduced[:, 1], X_reduced[:, 2], c=df_iris['target'],
           cmap=plt.cm.Set1, edgecolor='k', s=40) # 각 점의 색상을 인덱스를 통해 매치된 해당 클래스의 색상으로 표현
ax.set_title("Iris 3D")
ax.set_xlabel("x")
ax.w_xaxis.set_ticklabels([]) # 눈금 label 제거하여 더 깔끔하게 표현
ax.set_ylabel("y")
ax.w_yaxis.set_ticklabels([])
ax.set_zlabel("z")
ax.w_zaxis.set_ticklabels([])

plt.show()

In [ ]:
from sklearn.linear_model import LogisticRegression #독립변수의 선형 결합을 이용하여 사건의 발생확률 예측 # 이진분류지만 분류를 여러번 수행하는 접근법 OvsR
model=LogisticRegression(solver='liblinear', C=10.0, random_state=42)

from sklearn.linear_model import SGDClassifier
sgd = SGDClassifier(penalty='l1', random_state=0, n_jobs=-1) # L1 규제

from sklearn.neighbors import KNeighborsClassifier
knc = KNeighborsClassifier(n_neighbors=7)

from sklearn.svm import SVC # SVM 기본적으로는 이진분류, 비확률적, 경계로 표현되는 데이터들 중 가장 큰 폭을 가진 경계를 찾는 알고리즘
svc = SVC(random_state=0)
svc.decision_function(x_test)[:5] # 각 클래스 별 확률값을 return해줌

from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier(random_state=0)
graph_tree(dtc)

from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(random_state=0)
(rfc_pred == y_test).mean() # 적중 확률

In [ ]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, pred)

from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_auc_score

print(accuracy_score(y_test, pred))
print(precision_score(y_test, pred))
print(recall_score(y_test, pred))
print(f1_score(y_test, pred))

#receiver operating characteristic 곡선의 area under the curve x:false positive rate y:true positve rate

In [ ]:
from sklearn.preprocessing import LabelEncoder # NaN값이 있으면 작동하지 않음

label=LabelEncoder()
df['혈액형']=label.fit_transform(df['혈액형'])
label.classes_ # 뭐가 0인지 확인과정
label.inverse_transform(df['혈액형']) # 숫자를 다시 문자로 변환

In [ ]:
from sklearn.mdel_selction import cross_val_score, cross_val_predict

scores= cross_val_score(model,x,y,cv=5)# cv는 폴드 수 . 각 폴드에서의 정확도가 저장됨
predictions = cross_val_predict(model, x, y, cv=5) # 혼동행렬 계산이나 앙상블 모델 구축 시 활용가능

In [ ]:
from sklearn.linear_model import LogisticRegression, SGDClassfier
model=LogisticRegression(solver='liblinear', C=10.0, random_state=42)
# solver 최적화 알고리즘, c 정규화 강도 작을수록 강함 default=1.0

sgd = SGDClassifier(penalty='l1', random_state=0, n_jobs=-1) # L1 규제

from sklearn.neighbors import KNeighborsClassifier
knc = KNeighborsClassifier(n_neighbors=7)

from sklearn.svm import SVC # SVM 기본적으로는 이진분류, 비확률적, 경계로 표현되는 데이터들 중 가장 큰 폭을 가진 경계를 찾는 알고리즘
svc = SVC(random_state=0)

In [ ]:
from sklearn.tree import export_graphviz
from subprocess import call
from IPython.display import Image

def graph_tree(model):
    # .dot 파일로 export 해줍니다 환경변수 설정 해주어야함
    export_graphviz(model, out_file='tree.dot')

    # 생성된 .dot 파일을 .png로 변환

    call(['dot', '-Tpng', 'tree.dot', '-o', 'decistion-tree.png', '-Gdpi=600'])

    # .png 출력
    return Image(filename = 'decistion-tree.png', width=500)

##9.4.1 성능측정 함수

In [ ]:
from sklearn.metrics import mean_squared_error
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

colors = ['r', 'c', 'm', 'y', 'k', 'khaki', 'teal', 'orchid', 'sandybrown',
          'greenyellow', 'dodgerblue', 'deepskyblue', 'rosybrown', 'firebrick',
          'deeppink', 'crimson', 'salmon', 'darkred', 'olivedrab', 'olive',
          'forestgreen', 'royalblue', 'indigo', 'navy', 'mediumpurple', 'chocolate',
          'gold', 'darkorange', 'seagreen', 'turquoise', 'steelblue', 'slategray',
          'peru', 'midnightblue', 'slateblue', 'dimgray', 'cadetblue', 'tomato'
         ]

def plot_predictions(name_, pred, actual):
    df = pd.DataFrame({'prediction': pred, 'actual': actual})
    df = df.sort_values(by='actual').reset_index(drop=True)

    plt.figure(figsize=(12, 9))
    plt.scatter(df.index, df['prediction'], marker='x', color='r')
    plt.scatter(df.index, df['actual'], alpha=0.7, marker='o', color='black') #alpha 투명도
    plt.title(name_, fontsize=15)
    plt.legend(['prediction', 'actual'], fontsize=12)
    plt.show()
my_predictions={}

def mse_eval(name_, pred, actual):
    global colors

    plot_predictions(name_, pred, actual)

    mse = mean_squared_error(pred, actual)
    my_predictions[name_] = mse

    y_value = sorted(my_predictions.items(), key=lambda x: x[1], reverse=True) #mse 큰 순서대로 sort

    df = pd.DataFrame(y_value, columns=['model', 'mse'])
    print(df)
    min_ = df['mse'].min() - 10
    max_ = df['mse'].max() + 10

    length = len(df)

    plt.figure(figsize=(10, length))
    ax = plt.subplot()
    ax.set_yticks(np.arange(len(df)))
    ax.set_yticklabels(df['model'], fontsize=15)
    bars = ax.barh(np.arange(len(df)), df['mse'])

    for i, v in enumerate(df['mse']):
        idx = np.random.choice(len(colors))
        bars[i].set_color(colors[idx])
        ax.text(v + 2, i, str(round(v, 3)), color='k', fontsize=15, fontweight='bold')

    plt.title('MSE Error', fontsize=18)
    plt.xlim(min_, max_)

    plt.show()

def plot_coef(columns, coef):
    coef_df = pd.DataFrame(list(zip(columns, coef)))
    coef_df.columns=['feature', 'coef']
    coef_df = coef_df.sort_values('coef', ascending=False).reset_index(drop=True)

    fig, ax = plt.subplots(figsize=(9, 7))
    ax.barh(np.arange(len(coef_df)), coef_df['coef'])
    idx = np.arange(len(coef_df))
    ax.set_yticks(idx)
    ax.set_yticklabels(coef_df['feature'])
    fig.tight_layout()
    plt.show()

def remove_model(name_):
    global my_predictions
    try:
        del my_predictions[name_]
    except KeyError:
        return False
    return True

## 9.5 mathplotlib

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline #새로운 창이 아니라 셀 아래 표현
fig.tight_layout() #그래프의 요소들 간의 레이아웃 자동조정 하여 서로 겹치지 않게

In [ ]:
fig, ax=plt.subplots(2,5,figsize=(6,6)) # 위치 지정 방법, 2행 5열
plt.subplots_adjust(left=0.1, bottom=0.1, right=0.5, top=0.8, wspace=0.8, hspace=0.8) #subplots 들의 여백 및 위치 설정
ax[0,0].scatter(data_result['인구'], data_result['총 계'])
ax[0,1].plot(model_df['인구수'],model_df['예측 CCTV 수'],color='red')

In [ ]:
plt.figure(figsize=(6,6))
plt.plot(df.index, df.values, label='1') # 꺾은선
plt.bar(df.index, df.values, label='2') # 막대
plt.scatter(df.index, df.values, c=df2['키'] label='3') # 산점도 # c colormap 키의 값에 따라 색상 바뀌어서 점 찍힘
plt.boxplot((df,df2)) # 정규분포를 벗어난 게 몇개인지 확인
plt.grid()
plt.legend() # 범례, label 명시해야함
plt.xlabel('x')
plt.ylabel('y')
plt.title('title')
plt.colorbar()
plt.xticks(rotation=45)
plt.xlim(0,10)
plt.ylim(0,10)
plt.text(x위치, y위치, text, fontsize=15)
plt.show()

#linewidth lw= # 'r' color #linestyle= #markersize= #marker='o'#markerfacecolr=

In [ ]:
t = np.arange(0,5,0.01)

plt.figure(figsize=(10,12))

plt.subplot(411)
plt.plot(t,np.sqrt(t))
plt.grid()

plt.subplot(423)
plt.plot(t,t**2)
plt.grid()

plt.subplot(424)
plt.plot(t,t**3)
plt.grid()

plt.subplot(413)
plt.plot(t,np.sin(t))
plt.grid()

plt.subplot(414)
plt.plot(t,np.cos(t))
plt.grid()

plt.show()

In [ ]:
plt.figure()
df['소계'].plot(kind='barh', grid=True, figsize=(6,6)) #인덱스 기반으로 그려줌
plt.show()

In [ ]:
!sudo apt-get install -y fonts-nanum
!sudo fc-cache -fv
!rm ~/.cache/matplotlib -rf

In [ ]:
import matplotlib.pyplot as plt

plt.rc('font', family='NanumBarunGothic')

In [ ]:
import warnings

warnings.filterwarnings(action='ignore')

## 9.6 seaborn

In [ ]:
import seaborn as sns

# 데이터 분포 시각화
sns.displot(col='',row='') # col,row 이용하여 특정 행열 기준으로 나누어서 따로 그리기
sns.histplot(data= df x='',y='', hue='', kde=True, multiple=stack,,stat='probability')
# hue사용하여 추가적인 그룹화 가능 # stat default count:빈의 데이터개수 density,frequency
# multiple: stack 작은 바 뒤에 큰 바 / dodge 카테고리 변수인 경우 겹치지 않게 생성
sns.kdeplot() #hue사용하여 여러그룹 비교가능
sns.countplot() # class의 분배 확인 막대그래프
sns.boxplot() # 중앙값, 사분위수, 이상치 파악에 용이 orient="h"
sns.violinplot()

# 변수간 관계 시각화
sns.heatmap(df, annot=True, fmt=".2f", cmap="coolwarm") # annot 각 셀에 숫자 값 표시 , ".2f" 소수점 이하 자릿수 결정
sns.scatterplot(s=x*10, alpha=0.5) # s 점의 크기 x값에 따라 가변적설정 가능 ,alpha 점의 투명도
sns.lineplot() # 변수 간의 관계를 선으로 표현 시계열 데이터에 적합 . 신뢰구간 표현
sns.jointplot(kind='scatter') # 두 변수 간의 관계와 분포를 함께 보여줌 kind를 통해 다양한 시각화 가능 'kde','hist','hex'
#중앙의 contour plot은 동일한 밀도를 가진 데이터 포인터들을 연결 밀집되어있을수록 해당 영역에 데이터많이 분
sns.pairplot(kind='reg') # df내 모든 변수 쌍의 관계를 산점도 행렬로 표현, 'reg' 회귀선 추가하
sns.pointplot() # 카테고리 변수와 수치형 변수의 관계 파악

g=sns.FacetGrid(df, col='age',row='sex') #age와 sex에 따라 나누어진 서브플롯에서 total_bill의 hist그래프를 다 그려줌
g.map(sns.histplot, "total_bill")

sns.replot(x='',y='',data=,hue='',col='',row='') #col,row 이용하여 특정 행열 기준으로 나누어서 따로 그리기

#10.iter and generator

In [ ]:
#iter __iter__()와 __next__를 가진 객체 , 상태 유지함(반환 순)
my_list = [1, 2, 3]
my_iter = iter(my_list)  # 리스트로부터 이터레이터 생성
# 이미 정의된 데이터 구조에서 순차적으로 값을 반환하는 객체
print(next(my_iter))  # 1
print(next(my_iter))  # 2
print(next(my_iter))  # 3 # 더 이상 값이 없으면 StopIteration 예외 발생

In [ ]:
#generator #함수나 표현식으로 만들어진 이터레이터의 한 종류 ,동적 이터레이터
def my_generator():
    yield 1
    yield 2
    yield 3
#다음 값을 요청할 때 까지 실행을 멈춘 상태로 유지
gen = my_generator()
print(next(gen))  # 1
print(next(gen))  # 2
print(next(gen))  # 3
# 더 이상 값이 없으면 StopIteration 예외 발생

In [ ]:
#generator expression
squares_gen = (x * x for x in range(5))# ()감싸주기
print(list(squares_gen))
for i in squares_gen:
  print(i)
#list comprehension은 모든 결과를 한 번에 메모리에 저장하지만 generator는 값을 하나씩 필요할 때마다 생성 메모리효율 좋음

In [ ]:
#callable

#11.정규표현식

#12.multi threadinng, processing, queue

In [ ]:
#multi thread
import threading
import time

def timer_thread(stop_event): # 소프트웨어 함수이기때문에 몇백ms의 오차, 정확하게 c언어코딩하면 1~2ms에서 제어가능 # c언어 하드웨어 제어 좋음 python 소프트웨어 생산성
  global endpoint
  for _ in range(60):
    if endpoint==0:
      break
    time.sleep(1)
  stop_event.set()  # 이벤트 설정 (녹화 중지)
stop_recording = threading.Event()
timer = threading.Thread(target=timer_thread, args=(stop_recording,))

timer.start()
timer.join() # thread는 join하지않더라도 리소스낭비 문제가 심하지않음

# thread가 전역변수에 결과를 더할 때 충돌이 없도록 Lock 사용
# lock에 동시에 접근할 때 다른 thread는 대기해야 하므로 연산속도 저하 및 리소스 낭비 가능성 있음
lock = threading.Lock()
with lock:
  result += part_sum

#
stop_recording.wait() # 이벤트가 설정될 때까지 대기
stop_recording.clear() # 이벤트 초기화
stop_recording.is_set() # 이벤트가 설정되었는지 확인

In [ ]:
#multi process
import multiprocessing

def sum_numbers(start, end, queue):
    total = 0
    for i in range(start, end + 1):
        total += i
    queue.put(total)

if __name__ == '__main__':
    # 멀티프로세싱 큐 생성
    queue = multiprocessing.Queue()

    # 첫 번째 프로세스 생성 및 시작
    p1 = multiprocessing.Process(target=sum_numbers, args=(1, 50000000, queue))
    p1.start()

    # 두 번째 프로세스 생성 및 시작
    p2 = multiprocessing.Process(target=sum_numbers, args=(50000001, 100000000, queue))
    p2.start()

    # 프로세스가 완료될 때까지 대기
    p1.join()
    p2.join()

    # 결과를 큐에서 가져와 합산
    total_sum = queue.get() + queue.get() #FIFO 구조
# multi process는 join하지 않으면 좀비프로세스 리소스낭비 발생

In [ ]:
from multiprocessing import Pool
import pandas as pd

def process_file(file_name):
    # 대용량 파일 처리 로직
    data = pd.read_csv(file_name)
    # 복잡한 데이터 처리 작업 수행
    processed_data = data
    return processed_data

if __name__ == '__main__':
    files = ['file1.csv', 'file2.csv', 'file3.csv'] # 처리할 파일 목록
    with Pool(processes=3) as pool:
        results = pool.map(process_file, files)

In [ ]:
#queue
from queue import Queue # 기본 유한 큐(시스템 메모리가 허용하는 한에서만 요소 추가)

a= Queue()
a.put(1)
a.put(2)
print(a.get())
print(a.get())
q_limited = Queue(maxsize=10)
a.queue.clear()
a.queue.full() #boolean
a.queue.empty() #boolean

#13.Question

In [ ]:
object #?


#자체 객체가 변경되는 것과
#변경값을 리턴하는 것 구분