<a href="https://colab.research.google.com/github/moonlight94-t/leolou/blob/master/google%20ai/week%201/practice7_26.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
keyinput =["left", "right", "up", "right", "right"]
move=[]
dic={'up':[0,1], 'down':[0,-1], 'left':[-1.0], 'right':[0,1]}
for i in keyinput:
  move.append(dic[i])

print(move)

[[-1.0], [0, 1], [0, 1], [0, 1], [0, 1]]

In [ ]:
keyinput=["left", "right", "up", "right", "right"]
board=[11,11]

a=board[0]//2
b=board[1]//2
move=[]

dic={'up':[0,1], 'down':[0,-1], 'left':[-1.0], 'right':[0,1]}
for i in keyinput:
  move.append(dic[i])

move

[[-1.0], [0, 1], [0, 1], [0, 1], [0, 1]]

In [ ]:
import platform

print(platform.system()) # platform library 또는 package안에 있는 system함수를 사용한다는 의미
print(platform.release())

from platform import platform, release
print(platform()) # 어디 소속인지 밝히지않아도됨
print(release())

# mylist.append() mylist를 입력값으로 받아서 여기서는 .의 의미가다름. .앞에있는게 변수면 입력으로 받아들인다는 의미

Linux
6.1.85+
Linux-6.1.85+-x86_64-with-glibc2.35
6.1.85+

In [ ]:
text="life is too short"
for i in text:
  print(i, end='')

life is too short

In [ ]:
#공백 비워두기
"%10s" % "hi"

"%-10s" % "hi"

"%10.4f" % 3.42134234 #10은 전체 자릿수를 의미하고 .4f는 소수점 미만의 자릿수를 의미

"i eat {0} {apples}".format('3','banana')

'3.4213'

In [ ]:
my2="aAb1B2cC34oOp"

my3=list(filter(lambda x : x.isalpha()==True, my2))
my4=list(my2)

my4=list(map(lambda x : my2.replace(x, ' '),my4))
print(my4)

[' Ab1B2cC34oOp', 'a b1B2cC34oOp', 'aA 1B2cC34oOp', 'aAb B2cC34oOp', 'aAb1 2cC34oOp', 'aAb1B cC34oOp', 'aAb1B2 C34oOp', 'aAb1B2c 34oOp', 'aAb1B2cC 4oOp', 'aAb1B2cC3 oOp', 'aAb1B2cC34 Op', 'aAb1B2cC34o p', 'aAb1B2cC34oO ']

In [ ]:
text='dog.jpeg'
text.strip('.jpeg')

text2='aaxxaa'
text2.strip('a')

'xx'

In [ ]:
my2="aAb1B2cC34oOp"
s = ''.join(i if i.isdigit() else ' ' for i in my2)
sum(int(i) for i in s.split())

37

In [ ]:
#구구단 / 포맷팅 연습
#함수로 쪼개서 구현 / 문자열 더하기
def gugudan(a,b):
  d=''
  for i in range(1,10):
    d+='\n'
    for j in range(a,b+1):
      c=j*i
      d+='%5s' %f'{j} X {i} =' + '%5s' %f'{c}  '
  return print(d)

gugudan(2,4)

2 X 1 =  2  3 X 1 =  3  4 X 1 =  4
2 X 2 =  4  3 X 2 =  6  4 X 2 =  8
2 X 3 =  6  3 X 3 =  9  4 X 3 = 12
2 X 4 =  8  3 X 4 = 12  4 X 4 = 16
2 X 5 = 10  3 X 5 = 15  4 X 5 = 20
2 X 6 = 12  3 X 6 = 18  4 X 6 = 24
2 X 7 = 14  3 X 7 = 21  4 X 7 = 28
2 X 8 = 16  3 X 8 = 24  4 X 8 = 32
2 X 9 = 18  3 X 9 = 27  4 X 9 = 36

In [ ]:
for i in range(1,10):
  print('\n')
  for j in range(2,10):
    c=j*i
    print('%5s' %f'{j} X {i} =' + '%5s' %f'{c}',end='  ')

2 X 1 =   2  3 X 1 =   3  4 X 1 =   4  5 X 1 =   5  6 X 1 =   6  7 X 1 =   7  8 X 1 =   8  9 X 1 =   9

2 X 2 =   4  3 X 2 =   6  4 X 2 =   8  5 X 2 =  10  6 X 2 =  12  7 X 2 =  14  8 X 2 =  16  9 X 2 =  18

2 X 3 =   6  3 X 3 =   9  4 X 3 =  12  5 X 3 =  15  6 X 3 =  18  7 X 3 =  21  8 X 3 =  24  9 X 3 =  27

2 X 4 =   8  3 X 4 =  12  4 X 4 =  16  5 X 4 =  20  6 X 4 =  24  7 X 4 =  28  8 X 4 =  32  9 X 4 =  36

2 X 5 =  10  3 X 5 =  15  4 X 5 =  20  5 X 5 =  25  6 X 5 =  30  7 X 5 =  35  8 X 5 =  40  9 X 5 =  45

2 X 6 =  12  3 X 6 =  18  4 X 6 =  24  5 X 6 =  30  6 X 6 =  36  7 X 6 =  42  8 X 6 =  48  9 X 6 =  54

2 X 7 =  14  3 X 7 =  21  4 X 7 =  28  5 X 7 =  35  6 X 7 =  42  7 X 7 =  49  8 X 7 =  56  9 X 7 =  63

2 X 8 =  16  3 X 8 =  24  4 X 8 =  32  5 X 8 =  40  6 X 8 =  48  7 X 8 =  56  8 X 8 =  64  9 X 8 =  72

2 X 9 =  18  3 X 9 =  27  4 X 9 =  36  5 X 9 =  45  6 X 9 =  54  7 X 9 =  63  8 X 9 =  72  9 X 9 =  81

In [ ]:
strg='am234mf4m2m43'
my=''.join(i if i.isdigit() else ' ' for i in strg)
print(my.split())
ans= sum(map(int,my.split()))
print(ans)

['234', '4', '2', '43']
283

In [ ]:
board=[[1, 0, 0] , [1, 0, 0]]
bo=[]
for i in range(len(board)):
  for j in range(len(board)):
    if board[i][j]==1:
      bo.append([i,j])


for i in bo:
  a=i[0]
  b=i[1]
  x=[a-1, a, a+1]
  y=[b-1, b, b+1]
  x1=list(filter(lambda c: c!=-1 and c!=len(board) , x))
  y1=list(filter(lambda c: c!=-1 and c!=len(board) , y))
  for j in x1:
    for k in y1:
      board[j][k]=1

sum=0
for i in range(len(board)):
  sum += board[i].count(0)

print(sum)

#예외처리 ij
#위험지역에 0이 아닌값을 넣고 마지막에 0 카운팅

2