In [9]:
import pandas as pd
import numpy as np

df=pd.read_csv('01.CCTV_in_Seoul.csv')

In [12]:
import pymysql
conn = pymysql.connect(host='127.0.0.1', user='root', password='0000', db='solodb' , charset ='utf8')

In [14]:
cur = conn.cursor()
cur.execute("create table cctvTable (기관명 char(4), 소계 int, 2013년도이전 int, 2014년 int,2015년 int, 2016년 int)")

0

In [10]:
df.head()

   기관명    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204
3  강서구   884        388    258    184     81
4  관악구  1496        846    260    390    613

In [45]:
for i in range(len(df)):
    cur.execute(f"""INSERT INTO cctvtable VALUES ('{df.loc[i, '기관명']}', {df.loc[i, '소계']}, {df.loc[i, '2013년도 이전']}, {df.loc[i, '2014년']}, {df.loc[i, '2015년']}, {df.loc[i, '2016년']})""")

In [28]:
len(df)

25

In [46]:
conn.commit()

In [47]:
conn.close()